/* ------------------------------------------Hero Section----------------------------------------------------*/
.hero{/*Estrutura*/
    margin: 4rem 6.1rem;
    padding: 1rem;
    font-size: 3rem;
    margin-top: 2rem;
}
.hero_paragraph{/*Paragrafo inicial*/
    font-size: 7rem;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 10rem;
}
.hero_word{/*Mudança de cor de um texto para -Laranja-*/
    color: var(--color-orange);
}

.hero_container_card_image{/*Imagem do card*/
    position: relative;
    margin: 0;
    padding: auto;
    max-width:56rem;
    border-radius: 10px;
    transition: all 700ms ease;

}
.hero_container_card_name{/*Titulo do card*/
    position: relative;
    font-weight: 700;
    line-height: 130%;
    padding-left: 1rem;
    transition: all 700ms ease;
}
.hero_container_card{/*Card*/
    border-radius: 1rem;
    max-width: 56rem;
    border: 1px solid var(--color-grey);
    padding-bottom: 2rem;
    border-top: 0;
}
.hero_container_link{/*Retirar as cores e sublinhado dos texto de links*/
    text-decoration: none;
    color: var(--color-black);
}
.extraInfo_wrapper{/*Extra Info card*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: medium;
}
.hero_container_card_note{/*Nota do card*/
    position: relative;
    top: -2.2rem;
    opacity: 0;
    padding: 0.5rem;
    transition: visibility 300ms, opacity 500ms linear;
}
.hero_container{/*Linha dos cards*/
    display: flex;
    flex-direction: row;
    margin: 2rem 4rem;
    gap: 1rem;
    justify-content: center;
}
.hero_container_card_extraInfo{/*Extra Info dos cards*/
    opacity: 0;
    transition: visibility 300ms, opacity 500ms linear;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 56rem;
    padding: 0 2rem;
}
/*---------------movimentação - Hero-----------------*/
.hero_container_card:hover .hero_container_card_image {/*Movimentação da Imagem*/
    transform: translate(0, -2.5rem);
}
.hero_container_card:hover .hero_container_card_extraInfo{/*Aparece a Extra Info quando ficar em Hover*/
    visibility: visible;
    opacity: 1;
}
.hero_container_card:not(:hover) .hero_container_card_extraInfo{/*Esconde o conteudo ao não ficar em hover*/
    transition: 300ms;
    visibility: hidden;
}
.hero_container_card:not(:hover) .hero_container_card_note{/*Esconde o conteudo ao não ficar em hover*/
    transition: 500ms;
    visibility: hidden;
} 
.hero_container_card:hover .hero_container_card_note{/*Aparece a nota quando ficar em hover*/
    visibility: visible;
    opacity: 1;
}
.hero_container_card:hover .hero_container_card_name{/*Move o titulo*/
    transform: translate(0, -2.5rem);
}
/*---------------movimentação - Hero ------------ FIM*/
/*-------------------------------------------Hero Section -FIM-----------------------------------------------*/
/* ------------------------------------------More Visied Section---------------------------------------------*/
.more_visited{/*Estrutura*/
    margin: 4rem 5rem;
    padding: 1rem;
    font-size: 3rem;
    margin-top: 2rem;
}
.more_visited_link{/*Remover a cor e o underline no texto*/
    text-decoration: none;
    color: var(--color-black);
}
.more_visited_paragraph{/*Paragrafo Inicial*/
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.more_visited_wrapper{/*Grid da Section*/
    margin-left: 10rem;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;   
}
.more_visited_card{/*Cards*/
    max-width: 20rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}
.more_visited_img{/*Imagem das Cards*/
    position: relative;
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    object-fit: cover;
    transition: all 700ms ease; 
}
.more_visited_title{
    transition: all 700ms ease; 
}
/*------------movimentação - Most Visited-------------------*/
.more_visited_card:hover .more_visited_img{
    transform: translate(0,-2.5rem);  
}
.more_visited_card:hover .more_visited_title{
    transform: translate(0,-2.5rem);
}
/*----------movimentação - Most Visited -FIM----------------*/
/*--------------------------------------------------------------------------------------------------*/
/* ------------------------------------------Menu Section------------------------------------------ */
.menu{/*Estrutura*/
    margin: 4rem 5rem;
    padding: 1rem;
    font-size: 3rem;
    margin-top: 2rem;
}
.menu_wrapper{/*Wrapper*/
    margin: 4rem 6.1rem;
    padding: 1rem;
    font-size: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu_paragraph{/*Titulo*/
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.menu_links{/*remover underline e cor*/
    padding: auto;
    text-decoration: none;
    color: var(--color-black);
}
.menu_links{/*Menu Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu_links_img{/*menu image*/
    object-fit: cover;
    margin: 3rem;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
}
.menu_card{
    transition: all 500ms ease;
}
.menu_card:hover{
    transform: scale(0.9);
}
/*--------------------------------------------------------------------------------------------------*/
.line_main{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0.75), rgba(0,0,0,0));
}

@media only screen and (max-width: 1024px){
    
    html{
        
        font-size: 10px;
    }
    .hero_paragraph, .more_visited_paragraph{
        font-weight: medium;
    }
    .hero_card3{
        display: none;
    }
    .more_visited_wrapper{
        grid-template-columns: repeat(3,1fr);
        margin-left: 6rem;
    }
    .mvcdisplay{
        display: none;
    }
    .hero_container_card_image{
        margin: 0;
        padding: auto;
        max-width:35rem;
    }
    .hero_container_card_name{
        font-weight: 700;
        line-height: 130%;

    }
    .hero_container_card{
        border-radius: 1rem;
        max-width: 35rem;
        border: 1px solid var(--color-grey);
        padding-bottom: 2rem;
        border-top: 0;
    }
    .menu_wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 6rem;
    }
    .menu_card{
        max-width: 25rem;
        
    }
    .menu_links{
        font-size: 3rem;
    }
    .menu_links_img{
        height: 20rem;
        width: 20rem;
    }

}
/*-------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px){
    .hero_card2{
        display: none;
    }
    .mvcdisplay{
        display: block;
    }
    .hero_paragraph{
        font-size: larger;
        font-weight: 600;
    }
    .hero_container_card_image{
        margin: 0;
        padding: auto;
        max-width:30rem;
    }
    .hero_container_card_name{
        font-weight: 700;
        line-height: 130%;
        font-size: 2.9rem;

    }
    .hero_container_card{
        border-radius: 1rem;
        max-width: 30rem;
        border: 1px solid var(--color-grey);
        padding-bottom: 2rem;
        border-top: 0;
    }

    .more_visited_img{
        max-width: 10rem;
        max-height: 10rem;
    }
    .menu_links_img{
        height: 13rem;
        width: 13rem;
    }
    .more_visited_card{/*Cards*/
        max-width: 12rem;
        margin-bottom: 3rem;
        border-radius: 10px;
        font-size: medium;
    }
    .more_visited_wrapper{
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    }
    .menu_wrapper{
        flex-direction: column;
        align-items: center;
    }
}
