.footer_site{
    background-color: var(--color-black);
    color: var(--color-white);
    bottom: 0;
    left: 0;
    width: 100v;
    padding:30px 0px;
    text-align: center;
    
}
.footer_wrapper_line1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}
/*LINHA 1 DO FOOTER*/
.footer_links_img{
    background-color: var(--color-white);
    max-height: 5rem;
    max-width: 5rem;
    object-fit: fill;
}
.footer_links_img:hover{
    border: transparent;
    background-color: var(--color-orange);
    transition: all 300ms;    
}
/*LINHA 2 DO FOOTER*/
.footer_wrapper_line2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}
.footer_links:visited{
    color: var(--color-white);
    text-decoration: none;
}
.footer_links:link{
    color: var(--color-white);
    text-decoration: none;
}
.footer_links:hover{
    color: var(--color-orange);
    transition: all 300ms;
}


@media only screen and (max-width: 1024px){
    .footer_wrapper_line2{
        flex-direction: column;
        
    }
    .footer_wrapper_line1{
        gap: 1rem;
    }
}
